# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Models
*.pt
*.pth

# Videos
*.mp4
*.avi
*.mov

# Datasets
UCSD_Anomaly_Dataset.v1p2/
mall_dataset/
Wildtrack/


# Environment Variables
.env

# VS Code
.vscode/

# Databases
*.db


static/snapshots/

# Local database and ML model files
accutrack.db
yolov8n.onnx
yolov8n.pt